.modal-header{
  width: 100%;
}

.modal-header p{
margin: 0;
}

.modal-title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title__question{
width: 80%;
font-size: 1.7rem;
font-weight: bold;
}

.modal-title__award{
width: 20%;
margin-left: 2rem;
font-weight: bold;
font-size: 1.8rem;
color: rgb(255, 179, 0);
}

.answers_container{
  display: flex;
}

.good-answer{
  color: green;
  font-weight: bold;
  width: 40%;

}

.bad-answers{
  color: red;
  font-weight: bold;
  width: 60%;

}


.good-answer,
.bad-answers{
  display: flex;
  justify-content: center;
  text-align: center;
}

.good-answer p,
.bad-answers p{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem ;
  font-size: 1.2rem;
}

.home_help{
  margin: 2rem 0;
  font-size: 1.4rem;
}